html {
  max-height: 100vh;
  overflow: hidden;
  background: #ccdb9c;
}
body {
  margin: 0;
}
button {
  outline: none;
  appearance: none;
  border: none;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
}
.result-container {
  display: none;
  z-index: 2;
}
.result {
  display: flex;
  background: black;
  color: white;
  border: 3px solid white;
  filter: url(#greenScale);
  font-size: 56px;
  justify-content: center;
  align-items: center;
}
.start-screen,
.result {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
}
.start-screen {
  z-index: 1;
}
.title {
  filter: url(#greenScale);
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 0 48px 24px 48px;
  background-color: black;
  box-shadow: inset -5px -5px black, inset 10px 10px aliceblue,
    inset -10px -10px aliceblue;
  margin-bottom: 12px;
}
.titleImage {
  background-image: url("title.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}
.brainImage {
  position: absolute;
  top: -65%;
  left: -45%;
  background: url("brain.png") center no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: rotate(-25deg);
}
.device {
  border: 42px solid grey;
  background: #9bbc0f;
  position: relative;
  border-radius: 0 0 10% 0;
  padding: 12px;
  margin: auto;
  width: 75vw;
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  grid-template-areas:
    "info brainImage"
    "content content";
}
.brainImage2 {
  display: none;
  grid-area: brainImage;
  background: url("brain.png") center no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  align-self: end;
  justify-self: end;
  filter: url(#greenScale);
}
.info {
  display: none;
  place-self: start;
  width: fit-content;
  padding: 12px;
  background: grey;
  border: 2px solid black;
  filter: url(#greenScale);
  font-size: 24px;
}
.counter {
  font-size: 92px;
  align-self: center;
  filter: url(#greenScale);
  grid-area: counter;
  color: grey;
}
.points,
.level {
  color: white;
}
.content {
  filter: url(#greenScale);
  opacity: 0;
  display: grid;
  position: absolute;
  padding: 10px;
  width: 75%;
  gap: 12px;
  place-self: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  place-items: center;
  grid-template-areas:
    ".t."
    "cl counter cr"
    ".b.";
}
.t,
.cl,
.cr,
.b {
  align-self: center;
  border-radius: 100%;
  width: 100%;
  opacity: 0.7;
  cursor: pointer;
}
.t:enabled:active,
.cl:enabled:active,
.cr:enabled:active,
.b:enabled:active,
.active {
  opacity: 1;
}
.t {
  grid-area: t;
  background: radial-gradient(#bbbbbb 20%, transparent 60%, #bbbbbb 70%);
}
.cl {
  grid-area: cl;
  background: radial-gradient(#000000 20%, transparent 60%, #000000 70%);
}
.cr {
  grid-area: cr;
  background: radial-gradient(#888888 20%, transparent 60%, #888888 70%);
}
.b {
  grid-area: b;
  background: radial-gradient(#444444 20%, transparent 60%, #444444 70%);
}
.startBtn {
  background-color: beige;
  border-radius: 5px;
  color: black;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: url(#greenScale);
  margin: auto;
  font-size: 36px;
  font-weight: bold;
  padding: 4px 24px;
}
.try-again {
  margin-bottom: 20px;
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translate(-50%);
}
.startBtn:active {
  background-color: grey;
}
@media screen and (max-width: 600px) {
  .device {
    border-width: 28px;
    margin: auto 5px;
    height: 30vh;
    width: calc(100vw - 94px);
  }
  .counter {
    font-size: 36px;
    filter: url(#greenScale);
  }
  .content {
    width: 70%;
    filter: url(#greenScale);
    gap: 4px;
  }
  .info {
    font-size: 12px;
    padding: 4px 8px;
  }
  .t,
  .cl,
  .cr,
  .b {
    width: 86%;
    margin: 0 7%;
    filter: url(#greenScale);
  }
  .result {
    font-size: 18px;
    padding: 0;
  }
  .try-again {
    position: absolute;
    font-size: 20px;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%);
  }
  .brainImage {
    transform: rotate(-25deg) scale(0.7);
    top: -35%;
    left: -40%;
  }
  .counter,
  .info,
  .startBtn {
    filter: url(#greenScale);
  }
  .brainImage2 {
    width: 44px;
    height: 44px;
  }
}
@media screen and (min-width: 1000px) {
  .device {
    width: 700px;
    height: 700px;
  }
  .content {
    width: 70%;
    filter: url(#pixelate2) url(#greenScale);
  }
  .result {
    filter: url(#pixelate2) url(#greenScale);
    font-size: 36px;
  }
  .counter,
  .info,
  .startBtn,
  .title,
  .brainImage2 {
    filter: url(#pixelate2) url(#greenScale);
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  .brainImage {
    transform: rotate(-25deg) scale(0.7);
    top: -35%;
    left: -30%;
  }
}
